<configuration xmlns="http://www.jooq.org/xsd/jooq-codegen-3.14.0.xsd">
    <generator>
        <name>org.jooq.codegen.KotlinGenerator</name>
        <database>
            <name>org.jooq.meta.extensions.ddl.DDLDatabase</name>
            <properties>
                <property>
                    <key>scripts</key>
                    <value>src/main/resources/jooq/schema.sql</value>
                </property>
                <property>
                    <key>sort</key>
                    <value>semantic</value>
                </property>
                <property>
                    <key>unqualifiedSchema</key>
                    <value>none</value>
                </property>
                <property>
                    <key>defaultNameCase</key>
                    <value>as_is</value>
                </property>
            </properties>
        </database>

        <target>
            <packageName>io.taesu.ktjpajooq</packageName>
            <directory>target/generated-sources/jooq</directory>
        </target>

        <generate>
            <indexes>true</indexes>
            <relations>true</relations>
            <javaTimeTypes>true</javaTimeTypes>
            <fluentSetters>true</fluentSetters>
        </generate>
    </generator>
    <onError>LOG</onError>
</configuration>